/* Style Reseting */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* App body style */
body{
	background-color: #FFF;
}

/* App head style */
head{    
	position: absolute;
	display: block;
	width: 100%;
	height: 50px;  
	background-color: #F00;
}

footer{
	position: absolute;
	display: block;
	width: 100%;
	height: 50px;  
	background-color: #F00;
	bottom: 0px;
}

/* Pages styles */
page{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #0F0;
    -webkit-overflow-scrolling: touch;
}