/* Style Reseting */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* App body style */
body{
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

/* View Style */
esp-view{
	width: 100%;
	height: 100%;
	position: absolute;

	display: none;
}

esp-view.current{
	display: block;
}