/* Style Reseting */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* App body style */
body{
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

esp-view-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	-webkit-backface-visibility: hidden;	
}

/* View Style */
esp-view{
	width: 100%;
	height: 100%;
	position: absolute;
}

esp-view:not(.current){
	z-index: 0;
	display: none;
}