$header-height: 50px;


/* Style Reseting */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* App body style */
body{

	background-color: #FFF;
	width: 100%;
	height: 100%;

	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: hidden;

	margin: 0;
	padding: 0;

	color: #000;

	word-wrap: break-word;

	font-size: 14px;
	font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	line-height: 20px;
	text-rendering: optimizeLegibility;
	-webkit-backface-visibility: hidden;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
}

/* App Navigation headers wrapper */
esp-nav-wrapper{
	width: 100%;
	height: $header-height;
	position: absolute;
	overflow: hidden;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: #bad6f5;

	z-index: 1;
}

/* App Views wrapper */
esp-view-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective:1000px;	
	perspective:1000px;
}

disable-touch{
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 100%;
}

@import 'core';
@import 'header';
@import 'view';
@import 'animations';